*{ margin: 0; padding: 0; box-sizing: border-box;  }


a{ text-decoration: none; }
	a:hover{
		text-decoration: none;
	}
	li{ list-style: none;
	}
	
	p{
		font-size: 0.9rem;
		line-height: 1.6;
		font-weight: 400;
		color: Bule;
	}
	i{
		color: #2fccd0;
	}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('D:\image/office.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%,0 0);
	position: relative;
}

.header: before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: -3;
	z-index: -1;
	background: linear-gradient(to right, a1e5799 0%, a3ccdbb 0%, a16c9f6 100%);
}


.navbar: before{
content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: -3;
	z-index: -1;
	background: linear-gradient(to right, a1e5799 0%, a3ccdbb 0%, a16c9f6 100%);	
}


.nav-item a{
	color: #fff!important;
	font-weight: bold;
}

div.header-buttons a{
	text-decoration: none;
}
.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 30%;
	left: 5%;
	transform: transform(-50% ,-50%);
	-ms-transform: transform(-50% ,-50%);
	-webkit-transform: transform(-50% ,-50%);
}
.center-div h1{
	color: white;
}
.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}
.header-buttons a:hover{
	color: #50d1co;
	background: white;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0,3);
}
.nav-link a:hover{
color: black;
}


.center-div p{
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	
}


.card{
	cursor: pointer;
}
.card img{
	transform: translateY(-50px);
	border-radius: 15px;
	z-index: 1;
	
}
.card .card-body{
	visibility: hidden;
	transform: translateY(-150px);
	height: 0px;
	
}
.card:hover .card-body{
	visibility: visible;
	transform: translateY(-50px);
	transition: .5s;
	height: auto;
}
div.extra-div{
	margin: 80px;
}

section.serviceffers{
	background: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px;
	
}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600px;
	text-transform: uppercase;
}
div.names h1{
	color: #2e2e2e;
	font-size: 0.10rem;
	text-transform: uppercase;
	font-weight: bold;
	
}
.extra-div h2, .servicediv h2{
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: 1.9;
	word-spacing: 6px;	
}
 div.service-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	
}
.progress{
	height: 0.9rem!important;
}
/.................................................3 div start..................................//
.project-work{
	margin: 100px 0;
	
}
.project-work{
	font-size: 2rem;
	text-align: center;
}

/.................................................3 div end..................................//
/.................................................4 div start................................//
.pricing{
	background: #f7f7f9;
	width: 100%;
	height: 100vh;
	padding: 50px;
	position: relative;
	margin-bottom: 50px;
	margin: 80px;
}
.pricing:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: -3;
	z-index: -1;
	background: linear-gradient(160deg,#16c9f6 55%, #fff 0%);
}	

.money{
	font-size: 40px;
	line-height: 1;
	color: #606060;
}

.card-header{
	font-size: 1.6rem;
	font-weight: bold;
	background: #fff!important;
	padding: 25px 9!important;
}

.body{
	padding: 30px 0px!important;
}

.body li{
	margin: 10px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6;
	color: #606060;
}
 .card-footer{
	background: white!important;
	padding: 30px 0px!important;
}
.card-footer a{
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}
.card-footer a:hover{
	color: #fff;
	background: #50d1c0;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0,3);
}
.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
	color: #50d1c0;
}

/.................................................4 div end................................//

.middle{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.counting-sec{
  padding: 40px 0;
  width: 100%;
  background: linear-gradient(90deg,#3c6382,#82ccdd);
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.col i{
  font-size: 40px;
  color: #333;
}
.num{
  font-size: 40px;
  margin: 20px 0;
}











.happyclient{
	margin: 100px 0;
}
.happyclient h1{
	font-size: 2rem;
	text-align: center;
}


.project-work{
	margin: 100px 0;
	
}
.project-work h1{
	font-size: 2rem;
text-align: center;	
}
.query{
	margin: 10% 0;
		background: linear-gradient(180deg,#16c9f6 75%, #fff 0%);
color: #50d1co;
	
	text-decoration: none;
	
}
.sub button{
	color: #50d1co;
	background: green;
	text-decoration: none;
	box-shadow: 0 0px 20px 0px rgba(0,0,0,0,3);
	background: transparent;
	text-align: center;
	margin: 0 200px;
	margin-top: 20px;
}

.form text:hover{
	
}

/.................................................4 div start..................................//

/.................................................7 div Time And Date Start..................................//

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.datetime{
	margin-top: 100px;
}
.time{
	margin-top: 70px;
}
.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 20px #2E94E3;
}

.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 2px;
}
   
.time{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}














/.................................................7 div Time And Date End..................................//